* {
  box-sizing: border-box;
}
body {
  background-color: #f2f2f2;
  font-family: sans-serif;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.calculator {
  background-color: #c0c0c0;
  box-shadow: 10px 10px 30px #c0c0c0, -10px -10px 30px #ffff;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  width: 350px;
}
.screen {
  background-color: #d3d3d3;
  border-radius: 10px;
  box-shadow: inset 5px 5px 10px #c0c0c0, inset -5px -5px 10px #ffff;
  font-size: 24px;
  height: 60px;
  margin-bottom: 20px;
  text-align: right;
  width: 100%;
  padding: 20px 20px;
}
button {
  background-color: #c0c0c0;
  border: none;
  border-radius: 10px;
  box-shadow: 5px 5px 10px #c0c0c0, -5px -5px 10px #ffff;
  cursor: pointer;
  font-size: 40px;
  height: 60px;
  margin: 5px;
  padding: 0 20px;
  transition: box-shadow 0.3s ease;
  width: calc(25% -10px);
}
.clr {
  background-color: rgb(236, 152, 152);
  box-shadow: 5px 5px 10px #c0c0c0, -5px -5px 10px #ffff;
  color: white;
  width: 100%;
}
button:hover {
  box-shadow: 2px 2px 5px #c0c0c0, inset -2px -2px 5px #ffff;
}
